In [1]:
import pandas as pd
df=pd.read_csv('/content/Salary_Data.csv')
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [2]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [3]:
import numpy as np
m=df['Age'].mode().values[0]
df['Age']=df['Age'].replace(np.nan,m)

In [5]:
df['Gender'].fillna('NoGender',inplace=True)

In [6]:
m=df['Education Level'].mode().values[0]
df['Education Level']=df['Education Level'].replace(np.nan,m)

In [7]:
m=df['Job Title'].mode().values[0]
df['Job Title']=df['Job Title'].replace(np.nan,m)

In [8]:
m=df['Years of Experience'].mode().values[0]
df['Years of Experience']=df['Years of Experience'].replace(np.nan,m)

In [9]:
m=df['Salary'].mode().values[0]
df['Salary']=df['Salary'].replace(np.nan,m)

In [10]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
a=LabelEncoder()
b=['Gender','Education Level','Job Title']
for i in b:
  df[i]=a.fit_transform(df[i])
df

       Age  Gender  Education Level  Job Title  Years of Experience    Salary
0     32.0       1                0        177                  5.0   90000.0
1     28.0       0                3         18                  3.0   65000.0
2     45.0       1                5        145                 15.0  150000.0
3     36.0       0                0        116                  7.0   60000.0
4     52.0       1                3         26                 20.0  200000.0
...    ...     ...              ...        ...                  ...       ...
6699  49.0       0                5         34                 20.0  200000.0
6700  32.0       1                2        116                  3.0   50000.0
6701  30.0       0                1         42                  4.0   55000.0
6702  46.0       1                4         97                 14.0  140000.0
6703  26.0       0                2        118                  1.0   35000.0

[6704 rows x 6 columns]

In [12]:
x=df.drop('Salary',axis=1)
x

       Age  Gender  Education Level  Job Title  Years of Experience
0     32.0       1                0        177                  5.0
1     28.0       0                3         18                  3.0
2     45.0       1                5        145                 15.0
3     36.0       0                0        116                  7.0
4     52.0       1                3         26                 20.0
...    ...     ...              ...        ...                  ...
6699  49.0       0                5         34                 20.0
6700  32.0       1                2        116                  3.0
6701  30.0       0                1         42                  4.0
6702  46.0       1                4         97                 14.0
6703  26.0       0                2        118                  1.0

[6704 rows x 5 columns]

In [13]:
y=df['Salary']
y

0        90000.0
1        65000.0
2       150000.0
3        60000.0
4       200000.0
          ...
6699    200000.0
6700     50000.0
6701     55000.0
6702    140000.0
6703     35000.0
Name: Salary, Length: 6704, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=25)

In [15]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression()
model1.fit(xtrain,ytrain)

LinearRegression()

In [16]:
p=model1.predict(xtest)
p
from sklearn.metrics import r2_score
a=r2_score(ytest,p)*100
a

67.97759781997877

In [17]:
p2=model1.predict(xtrain)
p2
a2=r2_score(ytrain,p2)*100
a2

66.53880529248332

In [18]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor()
model2.fit(xtrain,ytrain)

RandomForestRegressor()

In [19]:
p=model2.predict(xtest)
p
a=r2_score(ytest,p)*100
a

97.29144503131273

In [20]:
p2=model2.predict(xtrain)
p2
a2=r2_score(ytrain,p2)*100
a2

99.44157284860037

In [21]:
from sklearn.ensemble import AdaBoostRegressor,GradientBoostingRegressor
model3=AdaBoostRegressor()
model3.fit(xtrain,ytrain)

AdaBoostRegressor()

In [22]:
p=model3.predict(xtest)
p
a=r2_score(ytest,p)*100
a

78.52954734044899

In [23]:
p2=model3.predict(xtrain)
p2
a2=r2_score(ytrain,p2)*100
a2

78.5250173493769

In [24]:
model4=GradientBoostingRegressor()
model4.fit(xtrain,ytrain)

GradientBoostingRegressor()

In [25]:
p=model4.predict(xtest)
p
a=r2_score(ytest,p)*100
a

93.31344040525418

In [26]:
p2=model4.predict(xtrain)
p2
a2=r2_score(ytrain,p2)*100
a2

93.76517930114207

In [ ]:
	Age	Gender	Education Level	Job Title	Years of Experience

In [35]:
Age=int(input("Enter the age:"))
Gender=int(input("Enter the gender:"))
Educuction_level=int(input("Enter the education:"))
Job_Title=int(input("Enter the job title:"))
Years_of_Experience=float(input("Enter the year of experience:"))
a=[[Age,Gender,Educuction_level,Job_Title,Years_of_Experience]]
b=model1.predict(a)
print("The salary is",b)

Enter the age:32
Enter the gender:1
Enter the education:0
Enter the job title:177
Enter the year of experience:5.0
The salary is [85677.49837715]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(